.intro{
      padding-left: 20px;
}
.input-label {
  font-size:1rem;
  color: black;
  text-transform: capitalize;
}

.input-field {
  border: 1px solid #eaeaea;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
  padding: 12px 19px;
  font-size: 18px;

  margin: 13px 20px 0 0;
}


.btn{
      margin: 30px 20px  30px;
  padding: 8.5px 16px;
  border: none;
  background-color: #ff5c00;
  color: white;
  box-shadow: 1px 4px 8px rgba(239, 88, 3, 0.2);
  border-radius: 4px;

}




.form{
    
    padding: 20px 20px 0 20px;

            display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 180px));
  grid-auto-flow: row;
  grid-column-gap: 30px;
  grid-row-gap: 10px;

  justify-content: left;
}

@media (min-width: 320px) and (max-width: 480px) {

.form{
      width: 100%;
}



.input-field{
      width: 100%;

}

}

@media (min-width: 320px) and (max-width:480px)  {
.form{
     
      width: 100%;
}


}